<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>HTMLService Example</title>

    <!-- Bootstrap -->
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" media="all" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
     <div class="jumbotron">
      <div class="container">
        <h1>HTMLService Example</h1>
        <p>This is a static page delivered through an HTML Assembler proxy to enrich it with dynamic data from an HTMLService.</p>
      </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-8">
          <h2>Our Developers</h2>
          <% 
            # Use query params on assembler
            # load('employees', position: params[:pos]) 
          %>
          <% load('employees', position: 'Developer') %>
          <ul>
          <% @employees.each do |emp| %>
            <li>
              <b><%= emp.name %></b>
              <div id="position"><%= emp.position %></div>
            </li>
          <% end%>
          </ul>
        </div>
        <div class="col-md-4">
          <h2>Our Support Agents</h2>
          <p>Multiple service backends can be added:</p>
          <% load('agents', position: 'Support Agent') %>
          <ul>
            <% @agents.each do |emp| %>
              <li>
                <b><%= emp.name %></b>
                <div id="position"><%= emp.position %></div>
              </li>
            <% end%>
          </ul>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div>
      </div>

      <hr>

      <footer>
        <p>&copy; Georg Kunz 2014</p>
      </footer>
    </div>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
  </body>
</html>